global:
  scrape_interval: {{ prometheus_global_scrape_interval }} # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: {{ prometheus_global_evaluation_interval }} # Evaluate rules every 15 seconds. The default is every 1 minute.
  scrape_timeout: {{ prometheus_global_scrape_timeout }} # is set to the global default (10s).
scrape_configs:
  - job_name: "prometheus"
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "sd_config"
    file_sd_configs:
    - files:
      - "clients.yml"